---
title: Research
---
<div class="wrap">
  <h1>Research</h1>
  <ul class="cards cards--areas">
    {% for area in collections.areas %}{% include "partials/area-card.njk" %}{% endfor %}
  </ul>
</div>
